.bannerContainerStyles {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}

.mySelfImageStyles {
  animation: animate 1s ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.selfContentBlockStyles {
  display: "flex";
  flex-direction: "column";
  gap: "10px";
  animation: selfContentAnimation 1s ease-in-out;
}

@keyframes selfContentAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.imageStyles {
  object-fit: contain;
}

.educationBlockStyles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: educationBlockAnimation 1s ease-in-out;
}

@keyframes educationBlockAnimation {
  0% {
    opacity: 0;
    scale: 1.25;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(0%);
  }
}

.skillsContainerStyles {
  animation: skillsContainerAnimation 1s ease-in-out;
}

@keyframes skillsContainerAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contactUsListStyles {
  animation: contactUsListStyles 1s ease-in-out;
}

@keyframes contactUsListStyles {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

/* Media Query Start */
@media screen and (max-width: 510px) {
  .educationImgStyles {
    width: 20px;
    height: 20px;
  }
  .bannerTextStyles {
    font-size: 20px;
  }
}

/* Media Query End */
